<% layout('layout/boilerplate') %>


<div class="row">
    <div class="col-6 offset-3">
        <div class="card" style="width: 18rem;">
            <img src="<%= campFind.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campFind.title %></h5>
              <p class="card-text"><%= campFind.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= campFind.location %></li>
              <li class="list-group-item">$<%= campFind.price %></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-warning" href="/campgrounds/<%= campFind._id %>/edit">Edit</a></br>
                <form class="d-inline" action="/campgrounds/<%= campFind._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
    </div>
</div>